{:manual-pitch -20.0, :tick-fn #object[clojure.core$identity 0x3e1cd8ee "clojure.core$identity@3e1cd8ee"], :requested-subdivisions 1, :mode :fit-all, :width 1280, :particle-program nil, :volume-program 18, :body-program 3, :sprite-program 9, :volume-res :medium, :ui/applied-cursor 212993, :mesh {:vao 3, :vbo 3, :count 3840}, :zoom-sensitivity 5.0, :manual-yaw -90.0, :look-sensitivity 0.01, :line-program 12, :ui/cursor-free? true, :on-step #object[clojure.core$identity 0x3e1cd8ee "clojure.core$identity@3e1cd8ee"], :subdivisions 1, :bodies-fn #object[infra.render.scene.bodies$phase0_bodies_PLUS_fields 0x3ff66d0c "infra.render.scene.bodies$phase0_bodies_PLUS_fields@3ff66d0c"], :cube-mesh {:vao 4, :vbo 4, :count 36}, :demo/monitor #object[clojure.core$future_call$reify__8544 0x6b2ea2f8 {:status :pending, :val nil}], :fit-margin 1.6, :fit-percentile 0.9, :hud-program 15, :volumetric? true, :smoothing 0.0, :height 720}
{:manual-pitch -20.0, :tick-fn #object[domain.arc$tick_genesis 0x71e647de "domain.arc$tick_genesis@71e647de"], :requested-subdivisions 1, :mode :fit-all, :width 1280, :particle-program nil, :volume-program 18, :body-program 3, :sprite-program 9, :volume-res :medium, :ui/applied-cursor 212993, :mesh {:vao 3, :vbo 3, :count 3840}, :zoom-sensitivity 5.0, :manual-yaw -90.0, :look-sensitivity 0.01, :line-program 12, :ui/cursor-free? true, :on-step #object[clojure.core$identity 0x3e1cd8ee "clojure.core$identity@3e1cd8ee"], :subdivisions 1, :bodies-fn #object[infra.render.scene.bodies$phase0_bodies_PLUS_fields 0x3ff66d0c "infra.render.scene.bodies$phase0_bodies_PLUS_fields@3ff66d0c"], :cube-mesh {:vao 4, :vbo 4, :count 36}, :demo/monitor #object[clojure.core$future_call$reify__8544 0x6b2ea2f8 {:status :pending, :val nil}], :fit-margin 1.6, :fit-percentile 0.9, :hud-program 15, :volumetric? true, :smoothing 0.0, :height 720}
:recording
