{:retained {:test {:extra-paths ["test" "bench"], :extra-deps {io.github.cognitect-labs/test-runner #:git{:tag "v0.5.1", :sha "dfb30dd"}, criterium/criterium #:mvn{:version "0.4.6"}}, :main-opts ["-m" "cognitect.test-runner"], :exec-fn cognitect.test-runner.api/test}, :native-render-test {:extra-paths ["test-native"], :main-opts ["-m" "cognitect.test-runner" "-d" "test-native"]}}, :native-test-alias-present? false, :native-test-parent-present? false, :new-demo-test {:extra-paths ["dev"], :extra-deps #:nrepl{nrepl #:mvn{:version "1.0.0"}}, :main-opts ["-m" "demo-test"]}}
